/*Global variables*/
:root {
    --blue: #2455f3;
    --white: #ffffff;
}


.white-color{
    color: var(--white);
}

.blue-bg{
    background-color: var(--blue);
}

.btn-blue{
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    padding: 5px 20px;
    cursor: pointer;
    font-size: 3.5ch;
}
.btn-blue:hover{
    background-color: #233058;
}


/*STYLES*/
html, body{
    height: 100%;
    width: auto;
}

/*NAVBAR*/
.index-navbar{
    min-height: 50px;
    margin-bottom: 5px;
}

.card img{
    max-height: 230px;
    object-fit: cover;
}

.text-bold{
    font-weight: 600;
}

/*Etiquetas custom*/
@media (min-width: 768px) {
    .px-md-6 {
      padding-right: 5rem !important;
      padding-left: 5rem !important;
    }
}

/*Etiquetas custom*/
@media (min-width: 992px) {
    .px-lg-6 {
      padding-right: 8rem !important;
      padding-left: 8rem !important;
    }
}