/*Global variables*/
:root {
    --blue: #007bff;
    --white: #ffffff;
}


/*STYLES*/
html, body{
    height: 100%;
    width: auto;
}

/*NAVBAR*/
.index-navbar{
    min-height: 50px;
    margin-bottom: 5px;
}

.card img{
    max-height: 230px;
    object-fit: cover;
}

.text-bold{
    font-weight: 600;
}

/*Etiquetas custom*/
@media (min-width: 768px) {
    .px-md-6 {
      padding-right: 5rem !important;
      padding-left: 5rem !important;
    }
}

/*Etiquetas custom*/
@media (min-width: 992px) {
    .px-lg-6 {
      padding-right: 8rem !important;
      padding-left: 8rem !important;
    }
}